html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Raleway', sans-serif;
    font-weight: lighter;
    height: 100vh;
    margin: 0;
}

a{
  text-decoration: none;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
    font-weight: 400;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

h3{
  font-size: 40px;
  font-weight: lighter;
}

.container{
  padding-top: 100px;
}

#description{
  min-height: 300px;
}

input[type="date"]{
  height: 38px;
}

/* Events Page */

.eventContainer{
  width: 95%;
  margin: 0 auto -150px auto;
  padding-top: 50px;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.eventFlyer{
  grid-column: 1 / 2;
  margin-top: 30px;
}

.eventFlyer img{
  width: 100%;
}

.eventDetails{
  grid-column: 2 / 3;
  padding: 30px;
}

.ticketLink{
  font-family: sans-serif;
  color: teal;
}
